# sensitive or private environment files
.env

# test files
adresses.txt
enscontroller.json
test.js
registry.sol
transaction_history

# hardhat and javascript configuration and cache files.
node_modules
cache
.cache
artifacts
app/dist
app/.cache*
